# Ignore IDE files (for example, IntelliJ, Eclipse)
### IntelliJ IDEA ###
.idea/
*.iml
*.iws
.DS_Store

# Maven / Gradle dependencies and build directories
target/
out/

# Ignore package files
*.jar
*.war
*.ear